<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h1>Resultados de la operación</h1>
    <a href="{{ url_for('index') }}">Volver</a>
    <div>
        <div class="mt-5">
            <h2 class="text-center">Imagen con puntos clave</h2>
            <div class="text-center">
                <img src="data:image/png;base64,{{ img_data }}" alt="Predicted Key Points" class="img-fluid preview-img">
            </div>
        </div>
    </div>
</body>
</html>